/*=============== ABOUT ===============*/
.about {
  margin-top: -50px;
  margin-bottom: 70px;
  &__data {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }
  &__head {
    text-align: left;
    font-size: 20px;
    color: var(--first-color-social);
    margin-bottom: 50px;
    font-weight: 600;
  }
  &__img {
    width: 600px;
    height: 450px;
    justify-self: center;
  }
  &__title {
    margin-bottom: var(--mb-1);
    color: #303030;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    line-height: 2rem;
  }
  &__discription {
    font-family: 'Lato', sans-serif;
    color: #3b3b3b;
    font-size: 18px;
    margin-top: 30px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  &__button {
    width: 200px;
    margin-top: 20px;
    background-color: var(--first-color-social);
    color: white;
    padding: 10px;
    border-radius: 3px;
  }
  &__container {
    column-gap: 2rem;
  }
}
