/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 800px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__container,
  .about__container,
  .steps__container,
  .questions__container,
  .contact__container {
    grid-template-columns: 1fr;
  }

  .footer__container {
    grid-template-columns: 1fr;
  }

  .nav {
    margin-top: -140px;
    &__logo {
      font-size: 30px;
      margin-bottom: 5px;
    }
    &__btns {
      font-size: 9px;
      padding: 10px;
      margin-bottom: 10px;
    }
  }

  .about {
    &__img {
      height: 1px;
      margin-bottom: 30px;
      margin-top: 30px;
    }
    &__data {
      align-items: center;
      text-align: center;
    }
    &__title {
      line-height: 2rem;
      font-size: 25px;
    }

    &__discription {
      font-weight: 500;
    }
  }
  .whyus {
    &__title {
      text-align: center;
    }
  }
  .whyus .why {
    &__titles {
      text-align: center;
      font-size: 25px;
    }
    &__discription {
      text-align: center;
      font-weight: 400;
      font-size: 17px;
    }
  }

  .home {
    padding: 15px;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;

    &__data {
      margin: -150px 0 0 0;
      max-width: 1200px;
    }
    &__img {
      width: 180px;
    }
    &__title {
      font-size: 41px;
      margin-top: 130px;
      max-width: 1200px;
    }

    &__description {
      font-family: 'Lato', sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 1.1rem;
      text-align: center;
      max-width: 1200px;
    }
    &__btndiv {
      text-align: center;
    }
  }

  .steps {
    &__bg {
      padding: 2rem 1rem;
    }
  }
  .whyus {
    &__bg {
      padding: 2rem 1rem;
    }
    &__card {
      padding: 1.5rem;
    }
  }

  .product__container {
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
  .switch-web {
    display: none;
  }

  .contact {
    &__subtitle {
      text-align: center;
    }
  }

  .whyus {
    .icons__row {
      flex-direction: column;
    }
    .icon__rowcontainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
    .card {
      margin-bottom: 20px;
      &__img {
        width: 80px;
        height: 80px;
      }
    }
  }

  .steps {
    &__img {
      width: 400px;
      height: 300px;
    }
    &__data {
      text-align: center;
      align-items: center;
    }

    &__head {
      text-align: center;
    }
    &__title {
      line-height: 2rem;
      font-size: 20px;
    }
    &__discription {
      margin-top: 10px;
      font-weight: 500;
    }
  }
  .map {
    width: 100%;
    height: 300px;
  }

  .footer {
    &__content3 {
      align-items: center;
    }
    &__content1 {
      align-items: center;
    }
  }
}

/* For medium devices */
// @media screen and (min-width: 500px) {
//   .switch-web {
//     display: none;
//   }

//   .steps {
//     &__container {
//       grid-template-columns: repeat(1fr);
//     }
//   }

//   // .about__img {
//   //   width: 420px;
//   // }

//   // .about__container {
//   //   margin-bottom: 150px;
//   // }

//   .home {
//     padding: 10rem 0 5rem;

//     &__container {
//       align-items: center;
//     }
//     &__img {
//       width: 280px;
//       order: 1;
//     }

//     &__description {
//       width: 400px;
//       font-size: medium;
//     }
//   }

//   // .footer__subscribe {
//   //   width: 400px;
//   // }
// }

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .switch-web {
    display: inline-block;
  }

  .switch-mobile {
    display: none;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;

    &__toggle,
    &__close {
      display: none;
    }

    &__list {
      flex-direction: row;
      column-gap: 1px;
    }
  }

  // .about__container {
  //   margin-bottom: 100px;
  // }

  .home {
    padding: 10rem 0px 5rem;
  }

  .steps {
    &__bg {
      padding: 8rem 150px;
      height: 750px;
    }
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .section {
    padding: 8rem 0 1rem;

    &__title,
    &__title-center {
      font-size: 30px;
    }
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;

    &__toggle,
    &__close {
      display: none;
    }
    &__menu {
      margin-left: auto;
    }
    &__list {
      flex-direction: row;
      gap: 1px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .scrollup {
    right: 3rem;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
