/*=============== STEPS ===============*/
.steps {
  &__bg {
    background-color: rgb(48, 186, 48);
    width: 100%;
  }
  &__container {
    gap: 2rem;
    padding-top: 1rem;
  }
  &__img {
    width: 600px;
    height: 450px;
    justify-self: center;
  }
  &__data {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }
  &__head {
    text-align: left;
    font-size: 20px;
    color: rgb(16, 16, 16);
    margin-bottom: 50px;
    font-weight: 600;
  }
  &__title {
    margin-bottom: var(--mb-1);
    font-family: 'Lato', sans-serif;
    color: #1a1a1a;
    font-size: 30px;
    line-height: 2rem;
  }
  &__discription {
    font-family: 'Lato', sans-serif;
    color: #2f2f2f;
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  &__button {
    width: 140px;
    margin-top: 20px;
    background-color: rgb(52, 52, 52);
    color: rgb(237, 237, 237);
    padding: 10px;
    font-weight: 500;
    border-radius: 3px;
  }
}
